version: "3.9"

x-airflow-common: &airflow-common
  build:
    context: ./airflow
  environment:
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: "false"

    # Airflow metadata DB
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow-db:5432/airflow

    # IMPORTANT: keep this stable across all airflow containers (fixes 403 log issue)
    AIRFLOW__WEBSERVER__SECRET_KEY: "my_super_secret_key_change_me_123"

    # Store logs on shared filesystem volume (prevents served-log hostname issues)
    AIRFLOW__LOGGING__BASE_LOG_FOLDER: /opt/airflow/logs
    AIRFLOW__LOGGING__TASK_LOG_READER: task

  volumes:
    - ./airflow/dags:/opt/airflow/dags
    - ./airflow/logs:/opt/airflow/logs
    - ./ingestion:/opt/airflow/ingestion
    - ./dbt:/opt/airflow/dbt
    - /var/run/docker.sock:/var/run/docker.sock

  depends_on:
    airflow-db:
      condition: service_healthy

services:
  # Data warehouse (your project DB)
  warehouse:
    image: postgres:16
    container_name: warehouse
    environment:
      POSTGRES_USER: warehouse
      POSTGRES_PASSWORD: warehouse
      POSTGRES_DB: retail_dw
    ports:
      - "5433:5432"
    volumes:
      - warehouse_data:/var/lib/postgresql/data

  # Airflow metadata DB
  airflow-db:
    image: postgres:16
    container_name: airflow-db
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - airflow_db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow -d airflow"]
      interval: 5s
      timeout: 5s
      retries: 20

  airflow-init:
    <<: *airflow-common
    container_name: airflow-init
    entrypoint: /bin/bash
    command: >
      -c "
      airflow db migrate &&
      airflow users create
        --username admin
        --password admin
        --firstname Admin
        --lastname User
        --role Admin
        --email admin@example.com
      "
    restart: "no"

  airflow-webserver:
    <<: *airflow-common
    container_name: airflow-webserver
    command: webserver
    ports:
      - "8080:8080"
    restart: always

  airflow-scheduler:
    <<: *airflow-common
    container_name: airflow-scheduler
    command: scheduler
    restart: always

  dbt:
    image: ghcr.io/dbt-labs/dbt-postgres:1.8.2
    container_name: dbt
    working_dir: /usr/app
    volumes:
      - ./dbt:/usr/app
    environment:
      DBT_PROFILES_DIR: /usr/app
    depends_on:
      - warehouse
    entrypoint: ["bash", "-lc"]
    command: ["dbt --version"]

volumes:
  warehouse_data:
  airflow_db_data:
